@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Chọn thông tin muốn xem</h1>
    <div class="d-flex justify-content-center flex-wrap w-100 mt-4">
        <a class="btn btn-success btn-lg m-2" asp-controller="NhaCC" asp-action="NhaCC_Admin">Quản lý Nhà Cung cấp</a>
        <a class="btn btn-primary btn-lg m-2" asp-controller="Customers" asp-action="Index">Quản lý khách hàng</a>
        <a class="btn btn-primary btn-lg m-2" asp-controller="Orders" asp-action="Index">Quản lý đơn hàng</a>
    </div>
</div>