@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold mb-4">
        Chọn thông tin muốn xem
    </h1>

    <div class="d-flex justify-content-center flex-wrap gap-3 text-white">
        <a asp-controller="NhaCC" asp-action="NhaCC_Admin"
           class="btn btn-primary btn-lg px-4 shadow-lg">
            <i class="fa-solid fa-store me-2"></i> Quản lý Nhà Cung Cấp
        </a>

        <a asp-controller="KhachHang" asp-action="KhachHang_Admin"
           class="btn btn-danger btn-lg px-4 shadow-lg">
            <i class="fa-solid fa-user me-2"></i> Quản lý Khách Hàng
        </a>

        <a asp-controller="Tinh" asp-action="Tinh_Admin"
           class="btn btn-success btn-lg px-4 shadow-lg">
            <i class="fa-solid fa-map me-2"></i> Quản lý Tỉnh
        </a>

        <a asp-controller="Xa" asp-action="Xa_Admin"
           class="btn btn-info btn-lg px-4 shadow-lg text-white">
            <i class="fa-solid fa-location-dot me-2"></i> Quản lý Xã
        </a>

        <a asp-controller="NhomSP" asp-action="NhomSP_Admin"
           class="btn btn-info btn-lg px-4 shadow-lg text-white">
            <i class="fa-solid fa-layer-group me-2"></i> Quản lý Nhóm Sản Phẩm
        </a>

        <a asp-controller="LoaiSP" asp-action="LoaiSP_Admin"
           class="btn btn-info btn-lg px-4 shadow-lg text-white">
            <i class="fa-solid fa-layer-group me-2"></i> Quản lý Loại Sản Phẩm
        </a>
    </div>
</div>
