<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
    <h1>Chào mừng bạn đến với ASP.NET Core 8.0</h1>
        <p>Đây là bài tập đầu tiên trong khóa học lập trình web với ASP.NET Core 8.0</p>
        <p>Học viên: Nguyễn Văn A</p>
        <p>MSSV: 123456789</p>
        <p>Lớp: KTPM2024</p>
    <p>Giảng viên: Trần Thị B</p>
    </body>
</html>