@model huongntt65131234_BaiTap0.Models.MessageModel

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <div>
            @Model.Welcome
        </div>
    </body>
</html>